.about {
  z-index: 3;
  background-color: #0a2850;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__title {
  display: flex;
  z-index: 3;
  color: #fff;
  padding: 100px 0px 0px 80px;
  position: relative;
  max-width: 251px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px;
}

.about__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: flex-end;
  z-index: 2;
  margin-bottom: 173px;
  margin-top: 119px;
  margin-left: auto;
  margin-right: 80px;
  font-family: "Noto Serif", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
}

.about__paragraph {
  margin: 0px;
  color: #fff;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  height: 426px;
  width: 426px;
  left: -129px;
  top: -154px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.about__circle_animation_blurred {
  animation-name: pulsate;
  animation-duration: 1.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
