.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 800px;
  max-height: 720px;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 126px;
  height: 142px;
}

.nav {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 30px 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  max-width: 729px;
  margin: 0px;
  padding: 202px 0px 0px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  z-index: 1;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.content {
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 100px 80px 215px 80px;
  margin: 0px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;

  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video-caption {
  margin: 24px 0px 215px 0px;
  display: flex;
  justify-content: space-between;
}

.recipes__videos {
  gap: 40px;
  margin: 80px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recipes__video-area {
  width: 480px;
}

.menu {
  height: 100vh;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0px;
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  max-width: 780px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px auto 100px;
  text-align: center;
}

.menu__cards {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.card {
  width: 540px;
}

.card:last-of-type {
  padding-bottom: 100px;
}

.card__content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card__title {
  margin: 0px 0px 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  display: flex;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:not(:last-of-type) {
  margin: 0px 0px 16px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #838383;
  margin: 0 10px;
}

.reservation {
  height: 100vh;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.reservation__form {
  margin: 0 auto;
  max-width: 385px;
}

.reservation__title {
  display: flex;
  justify-content: center;
  padding: 100px 0px 80px 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
}

.form {
  display: flex;
  justify-content: center;
}

.form__fieldset {
  margin-bottom: 120px;
  border: none;
}

.form__label {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}

.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-color: #838383;
}

.form__input::placeholder {
  font-size: 20px;
  color: #838383;
  max-width: 385px;
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="email"],
.form__input[type="datetime-local"],
.form__input_type_select {
  border-radius: 4px;
  max-width: 385px;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
}

.form__button[type="submit"] {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 60px;
  color: #ffffff;
  background-color: #2f80ed;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 70%;
  transition-timing-function: ease-in;
}

.form__input[type="checkbox"] {
  min-height: 20px;
  min-width: 20px;
  margin-right: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.about {
  z-index: 3;
  background-color: #0a2850;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__title {
  display: flex;
  z-index: 3;
  color: #fff;
  padding: 100px 0px 0px 80px;
  position: relative;
  max-width: 251px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px;
}

.about__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: flex-end;
  z-index: 2;
  padding: 119px 80px 173px 0px;
  margin: 0px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
}

.about__paragraph {
  margin: 0px;
  color: #fff;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  height: 426px;
  width: 426px;
  left: -129px;
  top: -154px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.about__circle_animation_blurred {
  animation-name: pulsate;
  animation-duration: 1.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__content {
  padding: 60px 100px 108px 80px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 20px;
}

.footer__list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer__list-items {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.footer__list-items:last-child {
  margin-bottom: 0;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__social-link {
  color: #fff;
  margin-bottom: 16px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #2f80ed;
  transition: color 0.2s;
}

.footer__copyright {
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0px 0px 60px 80px;
}
