.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif, "Noto Serif", "Times New Roman",
    serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
}

.logo {
  width: 126px;
  height: 142px;
  padding-top: 30px;
  padding-left: 30px;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 80px;
}
.nav__links {
  display: flex;
  justify-content: right;
  column-gap: 20px;
  list-style: none;
}

.header__image {
  width: 646px;
  height: 568px;
  padding-top: 124px;
  padding-right: 5px;
}
.content {
}

.recipes {
}

.menu {
}

.reservation {
}

.about {
}

.footer {
}
